div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.mat-sidenav-container {
  height: calc(100vh - 64px);
  }
  
  .mat-sidenav,
  .mat-sidenav-content {
    padding: 16px;
  }
  
  .mat-sidenav {
    border-right-color: rgb(53, 53, 53);
    background-color: white;
    width: 200px;
    color: black;
    display: block;
  }
  
  .mat-sidenav-content {
    background-color: white;
    color: black;
  }
  
  .mat-icon-button {
    background-color: rgb(216, 216, 216);
    border-color: black;
  }
  
