<div class="container">
  <h3>Add new developer</h3>

  <form class="mat-dialog-content" [formGroup]="formControl">
  
    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="fullName" class="form-control" name="fullName" required>
        <mat-placeholder>Full name</mat-placeholder>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="internalCV" class="form-control" name="internalCV">
        <mat-placeholder>Internal CV</mat-placeholder>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="externalCV" class="form-control" name="externalCV">
        <mat-placeholder>External CV</mat-placeholder>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" (click)="confirmAdd()" [disabled]="!formControl.valid">Save</button>
      <button mat-button [type]="button" (click)="onNoClick()">Cancel</button>
    </div>
  </form>
</div>