<div class="container">
  <h3>Add new developer</h3>

  <!-- <div class="form">
    <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >
    </mat-form-field>
  </div> -->
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      <div class="form">
      <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="fullName" [(ngModel)]="data.fullName" name="fullName" required >
        </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="internalCV" [(ngModel)]="data.internalCV" name="internalCV" required >
        </mat-form-field>
      </div>

      <div class="form">
          <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="externalCV" [(ngModel)]="data.externalCV" name="externalCV" required >
          </mat-form-field>
        </div>

        <div mat-dialog-actions>
          <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
          <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
      </form>
</div>
