/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$elementsMainColor: rgb(115, 1, 180);
$elementsSecondaryColor: rgb(66, 66, 66);

html, body {
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

//input style
.mat-form-field-appearance-legacy .mat-focused .mat-form-field-label {
  color: $elementsSecondaryColor;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: $elementsSecondaryColor;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $elementsSecondaryColor;
  color: $elementsSecondaryColor;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: $elementsMainColor;
  color: $elementsMainColor;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $elementsMainColor;
  color: $elementsMainColor;
}

.mat-form-field-appearance-legacy .mat-form-field-empty.mat-form-field-label {
  color: $elementsSecondaryColor;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color: $elementsSecondaryColor;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label{
  color: $elementsSecondaryColor;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper{
  width:100%;
}

//snackbar style
.mat-snack-bar-container{
  background: rgb(115, 1, 180);
  color: white;
  font-family: Roboto;
}

//stepper style
.mat-step-icon .mat-icon{
  color:white;
}

.mat-stepper-vertical{
  background-color:white;
  width: 90%;
  border-bottom: 1px solid $elementsSecondaryColor;
}

.mat-vertical-content-container{
  display: flex;
}

.mat-vertical-stepper-header-container{
  background-color: white;
  padding-bottom: 20px;
}

.mat-stepper-vertical-line{
  background-color: white;
}

.mat-step-text-label{
  color: black;
}

.mat-stepper-vertical-line::before{
  background-color: $elementsMainColor;
}

.mat-step-header .mat-step-icon{
  background-color: $elementsMainColor;
  color: $elementsSecondaryColor;
}
  

//checkbox style
.mat-checkbox-frame{
  border-color: $elementsMainColor;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: white;
}
.mat-checkbox-checked{
  border-color: $elementsMainColor;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
 background: none;
}
