<form [formGroup]="editForm">
    <h1 mat-dialog-title>Edit project</h1>
    <div mat-dialog-content class="inputs-block">
      <mat-form-field>
        <input matInput [(ngModel)]="data.name" formControlName="nameFormControl">
        <button mat-button *ngIf="data.name" matSuffix mat-icon-button aria-label="Clear" (click)="data.name=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-placeholder>Name...<mat-icon>create</mat-icon>
        </mat-placeholder>
        <mat-error *ngIf="editForm.controls['nameFormControl'].hasError('required')">
          Is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput [(ngModel)]="data.internalDescription" formControlName="inDescFormControl">
        <button mat-button *ngIf="data.internalDescription" matSuffix mat-icon-button aria-label="Clear"
          (click)="data.internalDescription=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-placeholder>Internal description...<mat-icon>create</mat-icon>
        </mat-placeholder>
        <mat-error *ngIf="editForm.controls['inDescFormControl'].hasError('required')">
          Is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput [(ngModel)]="data.externalDescription" formControlName="exDescFormControl">
        <button mat-button *ngIf="data.externalDescription" matSuffix mat-icon-button aria-label="Clear"
          (click)="data.externalDescription=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-placeholder>External description...<mat-icon>create</mat-icon>
        </mat-placeholder>
        <mat-error *ngIf="editForm.controls['exDescFormControl'].hasError('required')">
          Is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()">Cancel</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="editForm.invalid">Submit</button>
    </div>
  </form>