<div class="container">
  <h3 mat-dialog-title> You select user with id: {{ data.id }}</h3>

  <form mat-dialog-content>
    <div class="form">
      <mat-form-field >
        <input matInput [(ngModel)]="data.id" placeholder="id" name="id" disabled>
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field >
          <input matInput [(ngModel)]="data.fullName" placeholder="fullName" name="fullName">
        </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field>
          <input matInput [(ngModel)]="data.internalCV" placeholder="internalCV" name="internalCV">
        </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field>
          <input matInput [(ngModel)]="data.externalCV" placeholder="externalCV" name="externalCV">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="data">Save</button>
      <button mat-button (click)="closeEdit()">Cancel</button>
    </div>
  </form>
</div>